* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #131615;
    /* border: 5px solid red; */
}

body {
    max-width: 100%;
    min-height: 100%;
    /* background-color: #6B6490; */
}
header{
    height: 76.2vh;
    width: 100%;
}
main {
    width: 100%;
    background-color: #6B6490;
   
}
.encabezado_fijo{
    min-width: 100vw;
    height: 10.5vh;
    background-color: #223B58;
    display: flex;
    align-items: center;
    position: fixed;
}

nav{
    padding: 2vh;
    margin-right: 5rem;
    margin-top: 1.5vh;
}
#titulo{
    font-size: 2.362vw;
    flex-grow: 1;
    color: #d6b9b9;
    padding: 1rem;
}
#logo{
    width: auto;
    height: 5.3rem;
    margin: 1rem;
    border-radius: 9rem;
    transition: transform 0.8s;
}
nav a {
    padding:0.95rem;
    color: #897bd1;
    font-weight: bold;
    font-size: 1vw;
    margin: 0.003rem;
    text-decoration: none;
}
#banner {
        height: 65.7vh;
        width: 100%;
        
        margin-top: 10.5vh;
}
.titulo_secundario {
    text-align: center;
    font-size: 1.8vw;
    padding: 0.5vw 2.25vw;
    background-color: #223B58;
    border: 4px solid black;
    color: #d6b9b9;
    position: sticky;
    top: 10.1vh
}
.active {
    color: #d6b9b9;
}

a:hover {
    color: #C4BBF2;
}
section{
        width: 100%;
        min-height: 100%;
        padding-bottom: 5vh;
}
.info_texto {
    background-color: #d6b9b9;
    font-size: 1.5rem;
    width: 50vw;
    border: 3px solid black;
    padding: 2vh 2.5vw 2vh 2.5vw;
    align-self: center;
    margin: 5vh 25vw 0vh 25vw;
    

}
article{
    padding: 0.5rem;
}
#logo:hover{
    transform: scale(1.2);
}
h3{
    text-decoration: underline;
      color: black;
  }
footer{
    width: 100%;
    background-color: #6B6490;
}
.encabezado_reglas{
    text-align: center;
    padding-bottom: 1rem;
}
.texto_listas{
    list-style-type:lower-alpha;
}
.lista_letras{
    list-style-type: lower-latin;
}
.sangria{
    text-indent: 2em 
}
th,tr, td{
    background-color: #dccdcdb8;
    padding: 0.5rem;
    border: 1px solid black;
}
dt{
    font-weight: bold;
}
table{
padding-left: 5.98rem;
}
.padingListas{
    padding-bottom: 0.6rem;
}
/* GALERY */

.galeria{
    display: flex;
    justify-content: center;
}   
.marcoFoto{
    padding: 1rem;
    background-color: #d6b9b9;
    margin: 2vw;
    width: 26rem;
    height: 22rem;
    display: flex;
    justify-content:center; 
    align-items: center;   
}
.galeriaDeFotos{
    border: 3px solid #131615 ;
    margin: 4vw;
    width: 24rem;
    height: 20rem;
    transition: transform 0.8s;
    object-fit: cover;
    
}
.galeriaDeFotos:hover{
    transform: scale(1.15);
}

/* FORM */
form {
    max-width: 50vw;
    margin: 1.3rem auto;
  }

    #parrafoForm{
        padding-bottom: 1rem;
    }

    .flexform{
        display: inline-block;
    }

  fieldset {
    margin-bottom: 1rem;
    border: 3px solid #131615;
    border-radius: 4px;
    padding: 1rem;
  }
  .personalData{
    display: flex;
    flex-direction: column;
  }
  .estiloform{
    display: flex;
    flex-wrap: wrap;
  }
  legend {
    background-color: #223B58;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 0 1rem;
    color: #d6b9b9;
  }
  label {
    font-size: 1.4rem;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  select,input[type="date"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #f3f7f6;
    width: 100%;
  }
  input[type="submit"]{
    font-weight: bold;
    background-color: #C4BBF2;
   font-size: 1.5rem;
   padding: 0.5rem;
    border-radius: 0.6rem;
    width: 13rem;
    align-self: center;
  }
